Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

There are three files in the data folder: airbnb_price.csv, airbnb_room_type.xlsx, airbnb_last_review.tsv.

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.
How many of the listings are private rooms? Save this into any variable.
What is the average listing price? Round to the nearest penny and save into a variable.
Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [79]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('data/airbnb_price.csv')
df2 = pd.read_excel('data/airbnb_room_type.xlsx')
df3 = pd.read_csv('data/airbnb_last_review.tsv', delimiter='\t')


merged_df = pd.merge(df1, df2, on='listing_id', how='inner')
merged_df = pd.merge(merged_df, df3, on='listing_id', how='inner')
merged_df.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [80]:
merged_df['last_review'] = pd.to_datetime(merged_df['last_review'])
earliest_review = merged_df.last_review.min()
latest_review = merged_df.last_review.max()
earliest_review, latest_review

(Timestamp('2019-01-01 00:00:00'), Timestamp('2019-07-09 00:00:00'))

In [81]:
merged_df.room_type.value_counts()
merged_df['room_type'] = merged_df['room_type'].str.capitalize()
merged_df.room_type.value_counts()
private_rooms = merged_df.room_type.value_counts()['Private room']
private_rooms

11356

In [82]:
merged_df['price'] = merged_df['price'].str.replace(' dollars', '').astype(float)
avg_price = round(merged_df.price.mean(), 2)
avg_price

141.78

In [83]:
review_dates = pd.DataFrame({
    'first_reviewed': [earliest_review],
    'last_reviewed': [latest_review],
    'nb_private_rooms': [private_rooms],
    'avg_price': [avg_price]
})
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78